* { box-sizing: border-box; }
html, body {
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
  background-color: #111;
  color: #eee;
  vertical-align: middle;
  font-family: 'Varela Round', sans-serif;
}

#display {
  display: block;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  box-sizing: border-box;
  width: 100%;
  width: 100vmin;
  height: 100%;
  height: 100vmin;
  margin: auto;
}

#timer_input {
  position: absolute;
  top: -27%;
  left: 0;
  right: 0;
  margin: auto;
  width: 75%;
}

#timer_input input {
  font-family: 'Varela Round', sans-serif;
  font-size: 4.5vmin;
  text-align: center;
  width: 11vmin;
  height: 7vmin;
  color: #ccc;
  background-color: #222;
  border-radius: 2vmin;
  border: 0;
  vertical-align: middle;
}

#timer {
  overflow: hidden;
  position: relative;
  margin: 1%; margin: 1vmin;
  width: 98%; height: 98%;
  width: 98vmin; height: 98vmin;
  text-align: center;
  line-height: 99vmin;
  vertical-align: middle;
  border-radius: 100vmin;
  font-size: 14vmin;
  font-family: 'Varela Round', sans-serif;
  background-color: #000;
  color: #ddd;
  border: 16px outset #fff;
  border: 1vmin outset #fff;
  cursor: pointer;
  transition: box-shadow 0.25s linear;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
#timer:active {
  border: 1vmin groove #fff;
  border-style: inset;
}

#timer_text {
  width: 75%;
  text-align: center;
  color: #ccc;
  padding: 1vmin;
  background-color: #111;

  border-radius: 2vmin;
}

#timer_info {
  position: absolute;
  top: 38%;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
  text-align: center;

  font-family: 'Righteous', cursive;
  font-size: 4vmin;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
#timer_title {
  position: absolute;
  bottom: 40%;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
  text-align: center;

  font-family: 'Righteous', cursive;
  font-size: 5vmin;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

#timer_total {
  position: absolute;
  top: 22%;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
  text-align: center;

  font-size: 8vmin;
  font-family: 'Varela Round', sans-serif;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */

}

#ctl_speed {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  user-select: none;
}
#ctl_speed input {
  position: relative;
  width: 0; height: 0;
  z-index: -9999;
}
#ctl_speed span {
  position: absolute;
  top: 0;
  right: 0;

  text-align: center;
  vertical-align: middle;
  margin: 5vmin;
  background-color: rgba(128,255,128,0.25);
  color: #111;
  border-radius: 100vmin;
  width: 10vmin; height: 10vmin;
  line-height: 10vmin;

  border: 16px outset #aaa;
  border: 1vmin outset #aaa;
}
#ctl_speed input:checked + span {
  background-color: rgba(128,255,128,0.8);

  border: 16px outset #fff;
  border: 1vmin outset #fff;
}

input#mode_input {
  width: 7vmin; height: 7vmin;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
}
#mode_input[name="repeat"] {
  background-image: url(icons/mode-repeat.svg);
}
#mode_input[name="continous"] {
  background-image: url(icons/mode-continous.svg);
}
#mode_input[name="stop"] {
  background-image: url(icons/mode-stop.svg);
}
